[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python ./src/main.py"
recreate_database = "python ./src/database/script.py"
formatter = "python -m black src"

[packages]
requests = "*"
stripe = "*"
flask = "*"
flask-restx = "*"
mysql = "*"
mysql-connector = "*"
python-dateutil = "*"
python-dotenv = "*"
black = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
